{% assign doclist = site.pages | sort: 'url'  %}


<script>
    function createLi(list, element){
        console.log(element)
        const elementLi = document.createElement('li')
            
        const textA = document.createElement('a')
        textA.href = "{{ site.baseurl }}"+element
        textA.textContent = element
        elementLi.appendChild(textA)
            
        listUl.appendChild(elementLi)
    }
    const listUl = document.createElement('ul')
    {% for doc in doclist %}
        {% if doc.name contains '.md' or doc.name contains '.html' %}
            console.log("{{ doc.url }}")
            createLi(listUl, doc.url)
        {% endif %}
    {% endfor %}
    const section = document.querySelector('section')
    section.appendChild(listUl)
</script>