{% assign doclist = site.pages | sort: 'url'  %}


<script>
    const listUl = document.createElement('ul')
    {% for doc in doclist %}
        {% if doc.name contains '.md' or doc.name contains '.html' %}
            const elementLi = document.createElement('li')
            
            const textA = document.createElement('a')
            textA.href = "{{ site.baseurl }}{{ doc.url }}"
            textA.textContent = "{{ doc.url }}"
            elementLi.appendChild(textA)
            
            listUl.appendChild(elementLi)

        {% endif %}
    {% endfor %}
    const section = document.querySelector('section')
    section.appendChild(listUl)
</script>